@import "tailwindcss";


nextjs-portal,
nextjs-toast {
  display: none !important;
}

#__next > nextjs-portal {
  display: none !important;
}

@layer base {
  :root {
  
    --gradient: #1FA2FF;

    --background: 218 65% 4.48%;
    --foreground: 218 10% 97.8%;

    --muted: 218 50% 16.8%;
    --muted-foreground: 218 10% 55.6%;

    --popover: 218 45% 7.280000000000001%;
    --popover-foreground: 218 10% 97.8%;

    --card: 218 45% 7.280000000000001%;
    --card-foreground: 218 10% 97.8%;

    --border: 218 50% 16.8%;
    --input: 218 50% 16.8%;

    --primary: 218 100% 56%;
    --primary-foreground: 218 10% 5.6000000000000005%;

    --secondary: 218 50% 16.8%;
    --secondary-foreground: 218 10% 97.8%;

    --accent: 218 50% 16.8%;
    --accent-foreground: 218 10% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 218 10% 97.8%;

    --ring: 218 100% 56%;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}


@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-ring: hsl(var(--ring));
}

.bg-gradient-custom {
  background: var(--gradient);
}
